<div class="jumbotron text-center">
<<<<<<< HEAD
<<<<<<< HEAD
  <h1>Welcome to Dev Match</h1>
  <h3>A membership site where entrepreneurs can meet developers.</h3>
=======
  <h1>Welcome to Peak Performance</h1>
  <h3>A membership site where Peak Members can get the inside information.</h3>
>>>>>>> development
=======
  <h1>Welcome to Peak Performance</h1>
  <h3>A membership site where Peak Members can get the inside information.</h3>
>>>>>>> development
</div>